/* .modayBody {
    padding: 1rem 1.5rem;
} */

.menu-item-modal-image-container {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 12px;
    margin-bottom: 1.5rem;
}

.menu-item-modal-dish-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu-item-modal-dish-info {
    margin-bottom: 1.5rem;
}
.menu-item-modal-dish-price {
    font-weight: 600;
}
.menu-item-modal-dish-description {
    color: #666;
    line-height: 1.6;
    margin-bottom: 1.5rem;
    font-size: 14px;
}

.menu-item-modal-footer {
    padding: 1rem 1.5rem;
    border-top: 1px solid #e9ecef;
}


.menu-item-modal-quantity-buttons {
    background: transparent !important;
    border: none !important;
    color: #6c757d !important;
    width: 36px !important;
    height: 36px !important;
    padding: 0;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border-radius: 50% !important;
    transition: background-color 0.2s;
}

.menu-item-modal-quantity-buttons:hover:not(:disabled) {
    background-color: #e9ecef !important;
    color: #212529 !important;
}

.menu-item-modal-quantity-buttons:disabled {
    opacity: 0.5 !important;
    cursor: not-allowed;
}

.menu-item-modal-quantity-input {
    width: 40px !important;
    text-align: center;
    border: none !important;
    font-weight: 500;
    padding: 0 0 !important;
    margin: 0 8px;
    font-size: 16px;
}

.menu-item-modal-quantity-input:focus {
    box-shadow: none;
}

